<!-- reviews of all employees -->
<div class="min-h-screen overflow-visible w-full bg-white">
  <div class="text-end mr-5 py-6 w-full border border-b-2 flex justify-between items-center px-5">
    <div>
      <img src="/img/logo.png" alt="logo" width="50">
    </div>
    <nav>
      <a href="/users/dashboard" class="bg-[#37474F]  text-white  rounded-lg p-2 text-lg tracking-wide">All Employees</a>
      <a href="/users/all-reviews" class="bg-[#37474F]  text-white  rounded-lg p-2 text-lg tracking-wide">Feedbacks</a>
      <a href="/users/employee-requests" class="bg-[#37474F]  text-white  rounded-lg p-2 text-lg tracking-wide">Approve Request</a>
  </nav>
  </div>
  <div class="max-w-7xl mx-auto py-5">
    <table class="table-auto border w-full rounded-lg">
      <thead>
        <tr class="border text-left">
          <th class="p-2 ">Employee</th>
          <th class="p-2 ">Given By</th>
          <th class="p-2 ">Reviews</th>
          <th class="p-2 ">Date</th>
        </tr>
      </thead>
      <tbody>
        <% for(employee of employeeList) { %>
          <tr class="border">
            <td class="p-3">
              <p>
                <%= employee.givento.username %>
              </p>
              <p class="text-gray-500">Employee Id - <%= employee.givento.empid %>
              </p>
            </td>
            <td class="p-3">
              <%= employee.givenby.username %>
            </td>
            <td class="p-3">
              <%= employee.review %>
            </td>
            <td class="p-3 text-center">
              <%= employee.createdAt %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</div>